<div ng-include="'templates/navbar.html'"></div>
<div class="container">
    <div class="jumbotron fix-top-el">
        <form class="form-horizontal" name="registerForm" ng-submit="changePassword()">
            <fieldset>
                <h1 class="text-center" >Change Password</h1>
                <div class="form-group">
                    <label for="oldPass" class="col-lg-2 control-label">Old Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="oldPass" placeholder="Old Password" ng-model="passwordData.oldPassword" required="required">
                    </div>
                    <label for="newPass" class="col-lg-2 control-label">New Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="newPass" placeholder="New Password" ng-model="passwordData.newPassword" required="required">
                    </div>
                    <label for="confirmNewPas" class="col-lg-2 control-label">Confirm New Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="confirmNewPas" placeholder="Confirm New Password" ng-model="passwordData.confirmPassword" required="required">
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                    <a href="#/feed" class="btn btn-primary">Cancel</a>
                </div>
            </fieldset>
        </form>
        </form>
    </div>
</div>