<div ng-include="'templates/navbar.html'"></div>
<div class="container fix-top-el">
    <div class="container col-lg-8 ">
        <div ng-controller="UserController" ng-init="getUserFullData()">
            <img class="col-lg-3" data-ng-src="{{userCurrentData.profileImageData}}" alt="Profile Picture"/>
            <img class="col-lg-3" data-ng-src="{{userCurrentData.coverImageData}}" alt="Cover Picture"/>
            <span ng-bind="userCurrentData.name"></span>
            <button ng-click="sendFriendRequest(userCurrentData.username)">Send Request</button>
        </div>
        <form class="form-horizontal post" ng-controller="PostController" ng-submit="addPost()">
            <div class="form-group">
                <div class="col-lg-12">
                    <textarea class="form-control" rows="5" placeholder="Write your thoughts here" ng-model="postData.postContent">

                    </textarea>
                </div>
                </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-primary col-lg-6 col-lg-offset-3">Post</button>
                </div>
            </div>
        </form>
        <ul class=" col-lg-12" ng-controller="PostController">
            <a ng-init="showUserWall()"></a>
            <li class="form-group" ng-repeat="feed in feedData">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <img class="col-lg-3" data-ng-src="{{feed.author.profileImageData}}" alt="Profile Picture"/>
                            <div class="top-left">{{feed.author.name}}</div>
                            <span class="small">{{feed.date | date:"MM/dd/yyyy 'at' h:mma"}}</span>
                            <div class="badge pull-right " >Likes {{feed.likesCount}}</div>
                        </h3>
                    </div>
                    <div class="panel-body">
                        {{feed.postContent}}
                    </div>
                    <textarea class="form-control" rows="2" id="textArea" placeholder="Write your thoughts here"></textarea>
                </div>
            </li>
        </ul>
    </div>
    <div class="container col-lg-4" ng-controller="UserController">
        <a ng-init="myFriendsPreview()"></a>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-lg-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Friends {{friendsPreview.friends.length}}</h3>
                        </div>
                        <a class="panel-body" ng-repeat="friend in friendsPreview.friends | limitTo:6">
                            <img data-ng-src="{{friend.profileImageData}}"/>
                            <span ng-bind="friend.name"></span>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>