.fix-top-el{
    margin-top:100px;
}

li{
    list-style-type: none;
}
textarea { resize:none; }

.post{
    padding-bottom: 20px;
}

img{
    width: 100px;
    height: 100px;
}

#navbarButton{
    margin-top: 10px;

}

#likeButton{
    text-decoration:none;
}